@media screen and (max-width: 1700px)
  .about
    &__container 
      // max-width: 90%
      padding-right: 0
      &::before
        right: -40px
      &::after
        bottom: -80px
    &__img
      flex: 1
      &--gamepad
        left: 15%
    &__list
      width: min-content
      min-width: 400px
      left: -135px

// @media screen and (max-width: 1600px)
@media screen and (max-width: 1400px)
  .about
    &__img
      &--gamepad
        left: 10%
        bottom: 150px
@media screen and (max-width: 1300px)
  .about
    &__img
      transform: scale(0.8)
      transform-origin: center
    &__list 
      transform: scale(0.8)
      transform-origin: center

//img need be smaller
@media screen and (max-width: 1250px)
  .about
    &__img
      min-width: 800px
      &--gamepad
        width: 150px
        left: 10%
        bottom: 50px
      &--soccer
        width: 100px
      &--hand
        width: 200px
      &--basketball
        width: 90px
@media screen and (max-width: 1100px)
  .about
    &__img
      min-width: 600px
      background-size: cover
      background-position: center
    &__list
      transform-origin: right
@media screen and (max-width: 1000px)
  .about
    &__container
      &::before
        width: 150px 
        height: 150px
        right: 0
      &::after
        width: 150px 
        height: 150px
        right: 0
    &__title
      font-size: 60px
      margin-bottom: 50px
    &__img
      transform: scale(1)
      height: 420px
      min-width: 520px
    &__list
      transform: scale(1)
      left: -70px
    &__items
      gap: 20px0
@media screen and (max-width: 900px)
  .about
    &__img
      transform: scale(0.9)
      transform-origin: left
    &__list
      transform: scale(0.9)
      transform-origin: left
@media screen and (max-width: 850px)
  .about
    &__img
      transform: scale(0.8)
      top: 50px
      transform-origin: left
    &__list
      left: -130px
//------------------------------- TABLET -------------------------------
@media screen and (max-width: 768px)
  .about
    &__container
      justify-content: start
      flex-direction: row-reverse
      padding: 0 20px
      min-width: 100%
      &::before
        background-image: url('../img/about/about-before-tab.png')
        right: 37%
        width: 123px
        height: 123px
      &::after
        background-image: url('../img/about/about-after-tab.png')
        right: -10px
        width: 140px
        height: 140px
        bottom: -50px
        display: none

    &__title
      font-size: 60px
      margin-bottom: 37px
    &__list
      left: 0
      transform: scale(1)
      min-width: 50%

    &__items
      gap: 21px
    &__item
      font-size: 22px
      &::before
        min-width: 38px
        height: 34px

    &__img
      min-width: 50%
      max-width: 50%
      transform: scale(1)
      top: 0
      height: 415px
      background-image: url('../img/about/man-tab.png')
      background-position: right
      background-size: contain
      background-repeat: no-repeat

      &--basketball
        // position: absolute
        width: 87px
        top: 13px
        right: 12px
        z-index: -1
      &--soccer
        width: 80px
        position: absolute
        right: 90px
        bottom: 80px
      &--hand
        display: none
      &--gamepad
        width: 114px
        position: absolute
        bottom: 20px
        left: 60px
        
@media screen and (max-width: 700px)
  .about
    &__img
      margin-left: -50px 
      transform: scale(1.1)

    &__list
      transform: scale(0.9)
      transform-origin: top left

@media screen and (max-width: 550px)
  .about
    &__list
      transform: scale(1)
    &__title
      font-size: 45px
    &__item
      font-size: 20px