.page
  section.page__hero.hero
    .hero__container
      .hero__left
        h1.hero__title 
          span PARTNERSTVO
          <br>UPLATNO-ISPLATNI<br>KLADOMAT
        p.hero__subtitle Želite zabavu za Vaše goste i povećanje profita?<br> Mi radimo sav posao, vi nam samo ustupate prostor za kladomat..
        button.page__btn JAVITE NAM SE
      .hero__right 
        img.hero__terminals(src="../img/terminals-desk.png", alt="terminals")
    .hero__shadow
  section.page__about