.page
  section.page__hero.hero
    .hero__container
      .hero__left
        h1.hero__title 
          span PARTNERSTVO
          <br>UPLATNO-ISPLATNI<br>KLADOMAT
        p.hero__subtitle Želite zabavu za Vaše goste i povećanje profita?<br> Mi radimo sav posao, vi nam samo ustupate prostor za kladomat..
        button.page__btn JAVITE NAM SE
      .hero__right 
        img.hero__terminals(src="../img/terminals-desk.png", alt="terminals")
    .hero__shadow
  .page__bg2
  section.page__about.about
    .about__container
      img.about__man(src="../img/man-desk.png", alt="man")
      .about__list
        h3.about__title.section__title O KLADOMATU
        ul.about__items
          li.about__item Dodatna zarada od terminala za klađenje.
          li.about__item Povećanje prihoda od ugostiteljstva.
          li.about__item Postavljanje kladomata u Vašem objektu na naš trošak.
          li.about__item Dodatak već postojećoj ponudi vašeg ugostiteljskog objekta.
          li.about__item Besplatni servis i tehnička podrška 24/7.
  section.page__service.service
    .service__container
      h3.service__title.section__title FAVBET SERVIS
