.page
  section.page__hero.hero
    .hero__container
      .hero__left
        h1.hero__title 
          span PARTNERSTVO
          <br>UPLATNO-ISPLATNI<br>KLADOMAT
        p.hero__subtitle Želite zabavu za Vaše goste i povećanje profita?<br> Mi radimo sav posao, vi nam samo ustupate prostor za kladomat..
        button.page__btn JAVITE NAM SE
      .hero__right 
        .hero__terminal--bal
        
        picture.hero__terminals
          source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/hero/terminals-desk.png")
          source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/hero/terminals-tab.png")
          source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/hero/terminals-mob.png")
          source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/hero/terminals-desk.png")
          img(src="img/hero/terminals-desk.png" alt="Terminals")
        .hero__terminal--hand
    .hero__shadow
  .page__bg2
  section.page__about.about
    .about__container
      .about__img
        img.about__img--basketball(src="img/about/basketball-ball.png", alt="basketball-ball")
        img.about__img--soccer(src="img/about/soccer-ball.png", alt="soccer-ball")
        img.about__img--hand(src="img/about/hand-desk.png", alt="hand")
        img.about__img--gamepad(src="img/about/gamepad.png", alt="gamepad")
      .about__list
        h3.about__title.section__title O KLADOMATU
        ul.about__items
          li.about__item Dodatna zarada od terminala za klađenje.
          li.about__item Povećanje prihoda od ugostiteljstva.
          li.about__item Postavljanje kladomata u Vašem objektu na naš trošak.
          li.about__item Dodatak već postojećoj ponudi vašeg ugostiteljskog objekta.
          li.about__item Besplatni servis i tehnička podrška 24/7.
  
  //- section.page__service.service
  //-   .service__container
  //-     h3.section__title.service__title FAVBET SERVIS
  //-     .service__middle
  //-       img.service__crown(src='img/service/crown.svg')
  //-       .service__left
  //-         .service__block.service__block--left
  //-         p.service__text.service__text--left Nudimo vam profesionalni servis na području samoposlužnih terminala za klađenje.
  //-       .service__right
  //-         .service__block.service__block--right
  //-         p.service__text.service__text--right Pratimo svjetske trendove i jedini na tržištu igara na sreću vršimo isplatu putem kladomata.
  //-     button.page__btn.service__btn JAVITE NAM SE
  //- section.page__types.types
  //-   h3.section__title.types__title VRSTE OKLADA
  //-   .types__items
  //-     .types__item.types__item--1
  //-       img.types__item-img(src="img/types/type1.png", alt="type 1") 
  //-       p.types__item-text KLAĐENJE UŽIVO
  //-     .types__item.types__item--2
  //-       img.types__item-img(src="img/types/type2.png", alt="type 2") 
  //-       p.types__item-text LOTO KLAĐENJE
  //-     .types__item.types__item--3
  //-       img.types__item-img(src="img/types/type3.png", alt="type 3") 
  //-       p.types__item-text VIRTUALNE IGRE
  //-     .types__item.types__item--4
  //-       img.types__item-img(src="img/types/type4.png", alt="type 4") 
  //-       p.types__item-text.types__item-text--last PREMATCH

  //- section.page__contacts.contacts
  //-   h3.section__title.contacts__title KONTAKT
  //-   .contacts__container
  //-     .contacts__row
  //-       .contacts__item
  //-         img.contacts__item--img(src="img/contacts/address.svg", alt="address")
  //-         p.contacts__item--text Favorit sportska kladionica d.o.o.
  //-       .contacts__item
  //-         img.contacts__item--img(src="img/contacts/location.svg", alt="location")
  //-         p.contacts__item--text Draškovićeva 45, Zagreb
  //-     .contacts__row
  //-       .contacts__item
  //-         img.contacts__item--img(src="img/contacts/email.svg", alt="email")
  //-         p.contacts__item--text podrska@favbet.hr
  //-       .contacts__item
  //-         img.contacts__item--img(src="img/contacts/tel.svg", alt="telephone")
  //-         p.contacts__item--text +385 (0) 1 6286 668